{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid ms-4">
		<h1 class="mt-4">Accès interdit (403)</h1>
		<p class="mt-4">
			Vous n'avez pas la permission d'accéder à cette page. <a href="{{ path('homepage') }}">Retourner à la page d'accueil</a>.
		</p>
	</div>
{% endblock %}