{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-fluid ms-4">
		<h1 class="mt-4">Oups ! Page introuvable (404)</h1>
		<p class="mt-4">
			La page demandée n'a pas pu être trouvée. Vérifiez l'URL ou <a href="{{ path('homepage') }}">retournez à la page d'accueil</a>.
		</p>
	</div>
{% endblock %}